{% load films_tags %}
<ul class="list-articles">
    {% for film in films %}
        <li>
            <div class="article-panel">
                <p class="first">Жанр: {{ film.genre }}</p>
                <p class="last">Год: {{ film.year }}</p>
            </div>

            {% if film.poster %}
                <p><img class="img-article-left thumb" src="{{ film.poster.url }}" alt="{{ film.title }}"></p>
            {% endif %}

            <h3>{{ film.title }}</h3>
            <p>Рейтинг: {{ film.rating|format_rating }}</p>

            {% with film.tags.all as tags %}
            {% if tags %}
            <ul class="tags-list">
                <li>Теги:</li>
                {% for t in tags|slice:":3" %}
                <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
                {% endfor %}
                {% if tags|length > 3 %}
                <li>...</li>
                {% endif %}
            </ul>
            {% endif %}
            {% endwith %}

            <p class="link-read-post">
                <a href="{{ film.get_absolute_url }}">Подробнее</a>
            </p>
            <div class="clear"></div>
        </li>
    {% empty %}
        <p class="error-message">Фильмы не найдены</p>
    {% endfor %}
</ul>
