{% load films_tags %}
<ul class="list-articles">
    {% for film in films %}
        <li>
            <div class="article-panel">
                <p class="first">Жанр: {{ film.genre }}</p>
                <p class="last">Год: {{ film.year }}</p>
            </div>
            
            <h3>{{ film.title }}</h3>
            <p>Рейтинг: {{ film.rating|format_rating }}</p>
            
            <p class="link-read-post">
                <a href="{{ film.get_absolute_url }}">Подробнее</a>
            </p>
            <div class="clear"></div>
        </li>
    {% empty %}
        <p class="error-message">Фильмы не найдены</p>
    {% endfor %}
</ul>