{% load static films_tags %}
<article
    class="film-comment{% if comment.parent_id %} film-comment--reply{% endif %}"
    id="comment-{{ comment.pk }}"
    data-comment-id="{{ comment.pk }}"
>
    <header class="film-comment-header">
        <div class="film-comment-author-row">
            <div class="film-comment-avatar">
                {% if comment.author.photo %}
                <img src="{{ comment.author.photo.url }}" alt="">
                {% else %}
                <img src="{{ default_user_image }}" alt="">
                {% endif %}
            </div>
            <div class="film-comment-meta">
                <strong class="film-comment-author">{{ comment.author.username }}</strong>
                <time class="film-comment-time" datetime="{{ comment.time_create|date:'c' }}">
                    {{ comment.time_create|date:"d.m.Y H:i" }}
                </time>
            </div>
        </div>
    </header>

    <p class="film-comment-text">{{ comment.text|linebreaksbr }}</p>

    <div class="film-comment-actions">
        <div
            class="film-comment-votes"
            data-vote-url="{% url 'films:film_comment_vote' film.slug comment.pk %}"
            data-user-reaction="{% if comment.user_reaction %}{{ comment.user_reaction }}{% endif %}"
        >
            <button
                type="button"
                class="film-comment-vote film-comment-vote--like{% if comment.user_reaction == 1 %} is-active{% endif %}"
                data-value="1"
                aria-label="Нравится"
                title="Нравится"
            >
                <img src="{% static 'img/like.png' %}" alt="" class="film-comment-vote-icon">
                <span class="film-comment-vote-count" data-count="likes">{{ comment.likes_count }}</span>
            </button>
            <button
                type="button"
                class="film-comment-vote film-comment-vote--dislike{% if comment.user_reaction == -1 %} is-active{% endif %}"
                data-value="-1"
                aria-label="Не нравится"
                title="Не нравится"
            >
                <img src="{% static 'img/dislike.png' %}" alt="" class="film-comment-vote-icon">
                <span class="film-comment-vote-count" data-count="dislikes">{{ comment.dislikes_count }}</span>
            </button>
        </div>

        {% if request.user.is_authenticated %}
        <button type="button" class="film-comment-reply-toggle">Ответить</button>
        {% endif %}

        {% if request.user.is_authenticated and request.user.pk == comment.author_id %}
        <button type="button" class="film-comment-edit-toggle">Изменить</button>
        {% endif %}
        {% if comment|user_can_delete_comment:request.user %}
        <form
            class="film-comment-delete-form"
            method="post"
            action="{% url 'films:film_comment_delete' film.slug comment.pk %}"
        >
            {% csrf_token %}
            <button
                type="submit"
                class="film-comment-delete"
                onclick="return confirm('Удалить комментарий?');"
            >
                Удалить
            </button>
        </form>
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <form
        class="film-comment-reply-form"
        method="post"
        action="{% url 'films:film_comment_post' film.slug %}"
        hidden
    >
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.pk }}">
        <label class="film-comment-field">
            <span class="film-comment-label">Ответ</span>
            <textarea
                name="text"
                class="film-comment-textarea"
                rows="2"
                maxlength="2000"
                required
                placeholder="Напишите ответ…"
            ></textarea>
        </label>
        <div class="film-comment-form-actions">
            <button type="submit" class="film-comment-submit film-comment-submit--small">Отправить</button>
            <button type="button" class="film-comment-cancel">Отмена</button>
        </div>
    </form>

    {% if request.user.pk == comment.author_id %}
    <form
        class="film-comment-edit-form"
        method="post"
        action="{% url 'films:film_comment_edit' film.slug comment.pk %}"
        hidden
    >
        {% csrf_token %}
        <label class="film-comment-field">
            <span class="film-comment-label">Редактирование</span>
            <textarea
                name="text"
                class="film-comment-textarea"
                rows="3"
                maxlength="2000"
                required
            >{{ comment.text }}</textarea>
        </label>
        <div class="film-comment-form-actions">
            <button type="submit" class="film-comment-submit film-comment-submit--small">Сохранить</button>
            <button type="button" class="film-comment-edit-cancel">Отмена</button>
        </div>
    </form>
    {% endif %}
    {% endif %}

    {% if comment.replies.all %}
    <div class="film-comment-replies">
        {% for reply in comment.replies.all %}
        {% include "films/film_comment.html" with comment=reply %}
        {% endfor %}
    </div>
    {% endif %}
</article>
