{% load static %}
<header>
    <div class="header header-shell">
        <a class="header-brand" href="{% url 'films:home' %}">FilmReel</a>
        <nav>
            <ul class="mainmenu">
                <li><a href="{% url 'films:home' %}">Главная</a></li>
                <li><a href="{% url 'films:index' 'all' %}">Все фильмы</a></li>
            </ul>
        </nav>
        <form class="header-search" method="get" action="{% url 'films:home' %}">
            <input
                type="search"
                name="q"
                value="{{ search_query|default:'' }}"
                placeholder="Поиск по названию, описанию, жанру"
                aria-label="Поиск фильмов"
            >
            <button type="submit">Найти</button>
        </form>
    </div>
</header>
